.card {
  animation: fadeInTop 0.5s ease;
  border-radius: 20px;
  overflow: hidden;
  -webkit-box-shadow: 0 15px 40px rgba(97, 95, 95, 0.493);
  box-shadow: 0 15px 40px #0000007c;
  background-color: #fff;
  -webkit-transition: 0.3s all;
  transition: 0.3s all;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  
}

.card__header {
  position: relative;
}
.card__picture {
  position: relative;
  height: 220px;
}
.card__picture-overlay {
  position: absolute;
  width: 100%;
  height: 100%;
}
.card__picture-img {
  -o-object-fit: cover;
  object-fit: cover;
  height: 100%;
  width: 100%;
}
.card__details {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-row-gap: 17.5px;
  grid-column-gap: 2px;
  padding: 25px 30px;
}

.card__text {
  grid-column: 1 / -1;
  font-size: 16px;
  font-style: italic;
  margin-top: -10px;
  margin-bottom: 7.5px;
}
.card__data {
  font-size: 14px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.card__data svg {
  margin-right: 7px;
}
.card__data span {
  text-transform: capitalize;
}
.card__icon {
  height: 20px;
  width: 20px;
  fill: #679cc1;
}
.card__footer {
  background-color: #f7f7f7;
  padding: 25px 30px;
  border-top: 1px solid #f1f1f1;
  font-size: 15px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-column-gap: 10px;
  grid-row-gap: 10px;
  margin-top: auto;
}
.card__footer-value {
  font-weight: 700;
  margin-right: 4px;
}
.card__footer-text {
  color: #999;
}
.card__ratings {
  grid-row: 2 / 3;
}
.card button,
.card button {
  grid-row: 1 / 3;
  justify-self: center;
  align-self: center;
}
.heading-tertirary {
  color: #fff;
  text-transform: uppercase;
  font-weight: 300;
}
.heading-tertirary span {
  
  line-height: 1.35;
  -webkit-box-decoration-break: clone;
  box-decoration-break: clone;
  background-color: #91caf06e;
}

.heading-tertirary {
  font-size: 27.5px;
  text-align: right;
  position: absolute;
  bottom: 10px;
  right: 20px;
  width: 60%;
  z-index: 10;
  font-weight: 400;
}
.rating span {
  font-size: 14px;
  color: #679cc1;
}

@keyframes fadeInTop {
  0% {
    opacity: 0;
    transform: translateY(-25px);
  }
  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}
